@media (min-width: $max-mobile-width ) {
  .create-account-btn {
    background-color: white;
    height: 2.5rem;
    width: 100px;
    border-radius: 4px;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    padding-top: .5rem;
    text-align: center;
  }

}
  