
@media (max-width: $max-mobile-width ) {

    .row {
      padding-left:0 !important;
      padding-right: 0 !important;
      margin-left:0 !important;
      margin-right: 0 !important;
    }
  
    .lucide {
      display: none !important;
    }
    #line {
      display: none;
    }
  
    .cleared {
      clear: both;
    }
  
    .navbar-auth {
      padding-top: 3rem;
      background-image: $main-color;
      height: 100vh;
      position: relative;
      z-index: 1;
      width: 100%;
      
    }
  
    .row {
      margin-left: 0px !important;
    }
  
    .big-news {
      right: 0px;
      z-index: -1 !important;
    }
  
    .big-news-wrapper {
      height: 300px;
    }
  
    .searchbox {
      position : absolute !important;
      z-index: 3;
      top: 195px;
      left: 0px !important;
    }
  
    #navbar-auth-wrapper {
      .row {
        display: block;
      }
  
      #login {
        padding-bottom: 1rem;
      }
  
      #register {
        padding-left: 1rem;
      }
    }
  
    #go-news {
      [class*="col"] {
        padding-left: 0 !important; 
        padding-right: 0 !important;
      }
    }

    // .sc-gswNZR {
    //   width: 350px !important;
    // }

    // .sc-bcXHqe {
    //   width: 350px !important;
    // }

    .modal-body {
      [class*="col"] {
        padding-left: 0 !important; 
        padding-right: 0 !important;
      }
    }
    
    .nav-burger-wrapper { 
      display: flex;
      justify-content: end; 
      padding-right: 1rem;  
      .nav-burger-menu {
        position: absolute;
        cursor: pointer;
        flex-direction: column;
        gap: 5px;
        width: 40px;
        display: flex;
        background-color: red($color: #000000);
        margin-top: .7rem;  
        background-color: transparent;
        border : none;
  
      
        span {
          height: 3px;
          background: white;
          border-radius: 2px;
          width: 100%;
          transition: all 0.3s ease;
        }
  
      
        &.active span:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }
      
        &.active span:nth-child(2) {
          opacity: 0;
        }
      
        &.active span:nth-child(3) {
          transform: rotate(-45deg) translate(5px, -5px);
        }
      }
      
    }


    .nav-hidden-wrapper {
      display: var(--show);
    }

    .news-list {
      padding-left: 0rem;
      text-align: center;
      li {
        padding-right: 1rem;
      }
    }
}
  
