$main-color : linear-gradient(to bottom, #013A67,#359DD9);
$yellow-slider : #E1AA12;

* {
  font-size: 1rem;
}

.header {
  background-image: $main-color;
  color : white;
  font-weight: 500;
  height: 5rem;
  padding: 1rem;
  font-size: 1.3rem;
}

.title-2 {
  margin-left: 60%;
  font-weight: 100;
}

.create-account-btn {
  background-color: white;
  height: 2.5rem;
  width: 100px;
  border-radius: 4px;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  padding-top: .5rem;
  text-align: center;
}

.news-list {
  padding-left: 0;
    li {
      display: inline-block;
      list-style-type: none;
      padding-right: 3rem;
      margin-top: 1rem;
      font-weight: 600;
    }
}

.underline-mobile-tab {
  width: 75px;
  height: 2px;
  background-color: #E1AA12
}
.underline-email-tab {
  width: 40px;
  height: 2px;
  background-color: #E1AA12
}

.big-news {
  background-color: grey;
  height: 260px;
  width:  100%;
}

.cs-footer {

  background-image: $main-color;
  color : white;
  font-weight: 500;
  height: 100%;
  padding: 1rem;
  font-size: 1.3rem;

  :nth-child(2) {
    padding-top: 2rem;
    font-weight: 100;
    font-size: 0.8rem;
  }

  :nth-child(6) {
    margin-top: 2rem;
    font-size: .9rem;
    font-weight: 100;
  }
}

.box1 {
  background-color: white;
  height: 2.5rem;
  width: 100px;
  border-radius: 4px;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  padding-top: .5rem;
  text-align: center;
}


.search-match {
  background-color: white;
  input {
    cursor: pointer;
    padding-right: 40px;
    //background-image: url('assets/search.png');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 70%;
    background-color: transparent;
    color: black !important;
    outline: none;
    border: none;
  }
  input::placeholder {
    color: white;
    font-size: 1rem;
  }
  input:focus {
    border-bottom: 2px solid white;
  }
}

#go-team-popular {
  #go-team-popular-image {
    div {
      padding-bottom: 1.3rem;
    }

  }
  #go-team-popular-desc {
    div {
      padding-bottom: 2.1rem;
      div {
        margin-top: -.1rem;
        float: right;
      }
    }
  }
}

#go-news-thumbnail {
  div{
    font-weight: 500;
    margin-top: 1rem;
  }
}


@media (min-width: 1200px)  {
  .modal-content {
    width: 130% !important;
    right: 20% !important;
  }
}

.react-search-box-dropdown-list-item {
  color: black;
}

.bncmtB  {
  ul {
    margin-top: -1rem !Important;
    li {
      border: none !important;
    }
  }
}

.yellow-slider {
  width: 50px;
  height: 5px;
  background-color: $yellow-slider;
}

.dAZYal {
  border : none !important;
}

.jifbFL {
  position: absolute !important;
  width: 80% !important;
}


.sc-eDvSVe jifbFL {
  background-color: white !important;
}
